<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>Steven's Portfolio</title>
	<link rel="icon" href="img/logo/avatar.jpg">
	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
	<script src="js/animation.js"></script>
	<script src="js/data.js"></script>
</head>

<body>
	<header>
		<div>
			<a href="index.html#banner">
				<img src="img/logo/avatar.jpg">
			</a>
		</div>
		<nav class="nav-bar">
			<ul>
				<li><a href="index.html#banner">About</a></li>
				<li><a href="index.html#timeline">Timeline</a></li>
				<li><a href="index.html#interest">Interest</a></li>
				<li><a href="index.html#projects">Projects</a></li>
			</ul>
		</nav>
	</header>
	<div class="content" ng-app="data" ng-controller="DataController">

		<!-- Banner -->
		<div id="banner" class="section">
			<div>
				<p>
					<span class="anim-typewriter cl-cmt">//me and my stuff</span>

					<!-- Portfolio StevenDao = new Portfolio() {-->
					<span class="cl-cls w-wk">Portfolio</span>
					<span class="cl-txt">StevenDao</span>
					<span class="cl-txt w-wk">=</span>
					<span class="cl-key w-wk">new </span>
					<span class="cl-cls w-wk">Portfolio</span>
					<span class="cl-txt w-wk">()<br>{</span>
					<br>

					<!-- About = new About[] { Github, Blog, Twitter };  -->
					<span class="cl-var tab1 w-wk">About</span>
					<span class="cl-txt w-wk">=</span>
					<span class="cl-key w-wk">new</span>
					<span class="cl-cls w-wk">About</span
					><span class="cl-txt w-wk">[]</span>
					<span class="w-wk cl-txt">{</span>
					<a target="_blank" href="https://github.com/iamstevendao">
							<span class="lk-txt cl-txt">Github</span
							><span class="w-wk cl-txt">,</span>
					</a>
					<a target="_blank" href="https://iamstevendao.github.io/blog">
							<span class="lk-txt cl-txt">Blog</span
							><span class="w-wk cl-txt">,</span>
					</a>
					<a target="_blank" href="https://twitter.com/iamstevendao">
							<span class="lk-txt cl-txt">Twitter</span>
					</a>
					<span class="w-wk cl-txt">};</span>

					<!-- //Or find me at: LinkedIn, CodePen, Repl.it  -->
					<p>
						<span class="cl-cmt tab1">//Or find me at:
							<a target="_blank" href="https://www.linkedin.com/in/steven-dao-b9a065127/">
								<span class="lk-cmt">LinkedIn</span>
						</a>,
						<a target="_blank" href="http://codepen.io/iamstevendao/">
								<span class="lk-cmt">CodePen</span>
							</a>,
						<a target="_blank" href="https://repl.it/@iamstevendao">
								<span class="lk-cmt">Repl.it</span>
							</a>
						</span>
						<br>
						<span class="cl-txt w-wk">}</span>
					</p>
				</p>
			</div>
		</div>

		<!-- Timeline -->

		<div id="timeline" class="section">
			<div>
				<span class="cl-cmt">//my timeline</span>
				<br>

				<!-- class Timeline {  -->

				<span class="cl-key w-wk">class </span>
				<span class="cl-cls">Timeline </span>
				<br>
				<span class="cl-txt w-wk">{</span>
				<br>

				<!-- Dictionary<string , string> Events = new Dictionary<string , string> () { -->

				<span class="cl-cls tab1 w-wk">Dictionary</span>
				<span class="cl-txt w-wk">&lt;</span>
				<span class="cl-key w-wk">string</span>
				<span class="cl-txt w-wk">, </span>
				<span class="cl-key w-wk">string</span>
				<span class="cl-txt w-wk">&gt;</span>
				<span class="cl-txt">Events</span>
				<span class="cl-txt w-wk">=</span>
				<span class="cl-key w-wk">new</span>
				<span class="cl-cls w-wk">Dictionary</span>
				<span class="cl-txt w-wk">&lt;</span>
				<span class="cl-key w-wk">string</span>
				<span class="cl-txt w-wk">, </span>
				<span class="cl-key w-wk">string</span>
				<span class="cl-txt w-wk">&gt; ()</span>
				<br>
				<span class="cl-txt w-wk tab1">{</span>

				<!-- Timeline Content -->
				<p ng-repeat="event in timeline">
					<span class="cl-txt tab2 w-wk">{</span>
					<span class="cl-str"><span class="w-wk">"</span>{{event.date}}<span class="w-wk">"</span></span>
					<span class="cl-txt w-wk">,</span>
					<span class="cl-str"><span class="w-wk">"</span>{{event.job.title}}</span><a target="_blank" ng-if="event.job.hasOwnProperty('place')"
					  ng-href="{{event.job.link}}">
								<span class="cl-str lk-str"> {{event.job.place}}</span></a><span class="w-wk cl-str">"</span>
					<span class="cl-txt w-wk">},</span>
					<br>
					<span class="cl-cmt" ng-repeat="desc in event.description">
								<span class="tab2 w-wk">//</span>
					<span>{{desc}}</span>
					<br>
					</span>
				</p>

				<span class="cl-txt tab1 w-wk">};</span>
				<br>
				<span class="cl-txt w-wk">}</span>
			</div>
		</div>

		<!-- Interest -->

		<div id="interest" class="section">
			<div class="col30">
				<ul>
					<li>
						<span class="badge" onmouseover="show(0)">#liverpool</span>
						<span class="badge" onmouseover="show(0)">#steven_gerrard</span>
					</li>
					<li>
						<span class="badge" onmouseover="show(1)">#dota2</span>
						<span class="badge" onmouseover="show(1)">#earthshaker</span>
					</li>
					<li>
						<span class="badge" onmouseover="show(2)">#naruto</span>
						<span style="display:none" class="badge"></span>
					</li>
					<li>
						<span class="badge" onmouseover="show(3)">#dragon_ball</span>
						<span class="badge" onmouseover="show(3)">#songohan</span>
					</li>
				</ul>
			</div>
		</div>

		<!-- Project -->

		<div id="projects" class="section">
			<div>

				<!-- namespace Projects { -->

				<p>
					<span class="cl-key w-wk">namespace</span>
					<span class="cl-cls">Projects</span>
					<br>
					<span class="cl-txt w-wk">{</span>
				</p>

				<span class="cl-cmt tab1">
						<span>// For more projects, visit my</span>
				<a target="_blank" href="https://github.com/iamstevendao"><span class="lk-cmt">Github</span></a><span>, or <a target="_blank" href="https://iamstevendao.github.io/blog/projects/"><span class="lk-cmt">blog</span></a>
				</span>
				</span>

				<!-- projects content -->
				<p ng-repeat="project in projects" ng-show='project.place !=="School"'>
					<span class="cl-key w-wk tab1">class</span>
					<a target="_blank" ng-href="{{project.link}}">
							<span class="lk-cls cl-cls project-name">{{project.name}}</span>
						</a>
					<span class="cl-txt w-wk">:</span>
					<span class="cl-cls w-wk">{{project.place}}Project</span>
					<span class="cl-txt w-wk">{</span>
					<br>
					<span class="cl-cls tab2 w-wk">Skills</span>
					<span class="cl-txt w-wk">skills[] = {</span>
					<span ng-repeat="skill in project.skills">
						<span class="cl-var">{{skill}}</span><span ng-if="!$last" class="cl-txt w-wk">,</span>
					</span>
					<span class="cl-txt w-wk">};</span>
					<br>
					<span class="cl-cmt" ng-repeat="desc in project.description">
							<span class="tab2 w-wk">//</span>
					<span>{{desc}}</span>
					<br>
					</span>
					<span class="cl-txt tab1 w-wk">}</span>
				</p>

				<!-- SchoolProjects -->

				<p>
					<span class="cl-key w-wk tab1">class</span>
					<span class="cl-cls">SchoolProjects</span>
					<span class="cl-txt w-wk">{</span>
					<br>
					<span class="cl-cls tab2 w-wk">List</span>
					<span class="cl-txt w-wk">&lt;</span>
					<span class="cl-cls w-wk">Project</span>
					<span class="cl-txt w-wk">&gt;</span>
					<span class="cl-txt w-wk">projects =</span>
					<span class="cl-key w-wk">new</span>
					<span class="cl-cls w-wk">List</span>
					<span class="cl-txt w-wk">&lt;</span>
					<span class="cl-cls w-wk">Project</span>
					<span class="cl-txt w-wk">&gt;</span>
					<span class="cl-txt w-wk">();</span>
					<br>

					<!-- School project content -->

					<p class="project" ng-repeat="project in projects" ng-show='project.place =="School"'>
						<span class="cl-var tab2 w-wk">projects</span><span class="cl-txt w-wk">.</span><span class="cl-fn w-wk">Add</span>
						<span class="cl-txt w-wk">(</span><span class="cl-key w-wk">new</span>
						<span class="cl-cls w-wk">Project</span><span class="cl-txt w-wk">(</span>
						<span class="cl-str">
						<span class="w-wk">"</span><a target="_blank" ng-href="{{project.link}}"><span class="lk-str project-name">{{project.name}}</span></a>
						<span class="w-wk">"</span>
						</span><span class="cl-txt w-wk">,</span>
						<span ng-repeat='skill in project.skills'>
								<span class="cl-var">{{skill}}</span><span ng-if='!$last' class="cl-text w-wk">,</span>
						</span>
						<span class="cl-txt w-wk">));</span>
						<br>
						<span class="cl-cmt" ng-repeat="desc in project.description">
								<span class="tab2 w-wk">//</span>
						<span>{{desc}}</span>
						<br>
						</span>
					</p>
					<span class="cl-txt tab1 w-wk">}</span>
					<br>
					<span class="cl-txt w-wk">}</span>
			</div>
		</div>

		<!-- Credits -->

		<div id="credit" class="section">
			<div>
				<span class="cl-cmt">//credits</span>
				<br>
				<span class="cl-key w-wk">public void</span>
				<span class="cl-fn w-wk">Get</span>
				<span class="cl-fn">Credits</span>
				<span class="cl-txt w-wk">() {</span>
				<br>
				<span class="cl-key w-wk tab1">string</span>
				<span class="cl-txt">author
					<span class="w-wk">=</span>
				</span>
				<span class="cl-str">"</span>
				<span class="cl-str">Steven Dao</span>
				<span class="cl-str w-wk">"</span>
				<span class="cl-txt w-wk">;</span>
				<br>
				<span class="cl-key w-wk tab1">var</span>
				<span class="cl-txt">credits
					<span class="w-wk">=</span>
				</span>
				<a target="_blank" href="https://github.com/iamstevendao/iamstevendao.github.io/blob/master/README.md">
					<span class="cl-var lk-var">README.md</span>
				</a>
				<span class="cl-txt w-wk">;</span>
				<br>
				<span class="cl-key w-wk tab1">var</span>
				<span class="cl-txt">sourceCode
					<span class="w-wk">=</span>
				</span>
				<a target="_blank" href="https://github.com/iamstevendao/portfolio">
					<span class="cl-var lk-var">iamstevendao/portfolio</span>
				</a>
				<span class="cl-txt w-wk">;</span>
				<br>
				<span class="cl-txt w-wk">}</span>
			</div>
		</div>

		<div class="footer">
			<span class="anim-typewriter">&copy; Steven Dao 2017</span>
		</div>
	</div>
</body>

</html>