<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>Steven's Portfolio</title>
	<base target="_blank">
	<link rel="icon" href="img/logo/avatar.jpg">
	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://raw.githubusercontent.com/oblador/angular-scroll/master/angular-scroll.js"></script>
	<!-- <script src="js/animation.js"></script> -->
	<script src="js/data.js"></script>
</head>

<body ng-app="data" ng-controller="DataController">
	<header>
		<div>
			<a href="index.html#banner">
				<img src="img/logo/avatar.jpg">
			</a>
		</div>
		<nav class="nav-bar" du-scroll-container="container">
			<ul>
				<li><a target="_parent" du-smooth-scroll du-scrollspy href="index.html#banner">About</a></li>
				<li><a target="_parent" du-smooth-scroll du-scrollspy href="index.html#timeline">Timeline</a></li>
				<li><a target="_parent" du-smooth-scroll du-scrollspy href="index.html#interest">Interest</a></li>
				<li><a target="_parent" href="index.html#projects">Projects</a></li>
			</ul>
		</nav>
	</header>
	<div class="content">

		<!-- Banner -->
		<div id="banner" class="section" du-scroll-container>
			<div>
				<p>
					<span class="anim-typewriter cl-cmt">//me and my stuff</span>

					<!-- Portfolio StevenDao = new Portfolio() {-->
					<span class="cl-cls w-wk">Portfolio</span>
					<span class="cl-txt">StevenDao</span>
					<span class="cl-txt w-wk">=</span>
					<span class="cl-key w-wk">new </span>
					<span class="cl-cls w-wk">Portfolio</span
					><span class="cl-txt w-wk">()<br>{</span>
					<br>

					<!-- About = new About[] { Github, Blog, Twitter };  -->
					<span class="cl-var tab1 w-wk">About</span>
					<span class="cl-txt w-wk">=</span>
					<span class="cl-key w-wk">new</span>
					<span class="cl-cls w-wk">About</span
					><span class="cl-txt w-wk">[]</span>
					<span class="w-wk cl-txt">{</span>
					<span class="cl-txt" ng-repeat="account in accounts.important">
						<a ng-href="{{account.link}}"><span class="lk-txt">{{account.name}}</span><span class="w-wk" ng-if="!$last">,</span>
					</a>
					</span>
					<span class="w-wk cl-txt">};</span>

					<!-- //Or find me at: LinkedIn, CodePen, Repl.it  -->
					<p>
						<span class="cl-cmt tab1">//Or find me at:</span>
						<span class="cl-cmt" ng-repeat="account in accounts.other">
							<a ng-href="{{account.link}}">
									<span class="lk-cmt">{{account.name}}</span
									><span class="w-wk" ng-if="!$last">,</span>
						</a>
						</span>
						<br>
						<span class="cl-txt w-wk">}</span>
					</p>
				</p>
			</div>
		</div>

		<!-- Timeline -->

		<div id="timeline" class="section" du-scroll-container>
			<div>
				<span class="cl-cmt">//my timeline</span>
				<br>

				<!-- class Timeline {  -->

				<span class="cl-key w-wk">class </span>
				<span class="cl-cls">Timeline </span>
				<br>
				<span class="cl-txt w-wk">{</span>
				<br>

				<!-- Dictionary<string , string> Events = new Dictionary<string , string> () { -->

				<span class="w-wk tab1">
				<span class="cl-cls">Dictionary</span
				><span class="cl-txt">&lt;</span
				><span class="cl-key">string</span
				><span class="cl-txt">,</span>
				<span class="cl-key">string</span
				><span class="cl-txt">&gt;</span>
				</span>
				<span class="cl-txt">Events</span>
				<span class="w-wk">
				<span class="cl-txt">=</span>
				<span class="cl-key">new</span>
				<span class="cl-cls">Dictionary</span
				><span class="cl-txt">&lt;</span
				><span class="cl-key">string</span
				><span class="cl-txt">,</span>
				<span class="cl-key">string</span
				><span class="cl-txt">&gt;()</span>
				</span>
				<br>
				<span class="cl-txt w-wk tab1">{</span>

				<!-- Timeline Content -->
				<p ng-repeat="event in timeline">
					<span class="cl-txt tab2 w-wk">{</span>
					<span class="cl-str"><span class="w-wk">"</span>{{event.date}}<span class="w-wk">"</span></span>
					<span class="cl-txt w-wk">,</span>
					<span class="cl-str"><span class="w-wk">"</span>{{event.job.title}}</span><a ng-if="event.job.hasOwnProperty('place')"
					  ng-href="{{event.job.link}}">
								<span class="cl-str lk-str"> {{event.job.place}}</span></a><span class="w-wk cl-str">"</span>
					<span class="cl-txt w-wk">},</span>
					<br>
					<span class="cl-cmt" ng-repeat="desc in event.description">
								<span class="tab2 w-wk">//</span>
					<span>{{desc}}</span>
					<br>
					</span>
				</p>

				<span class="cl-txt tab1 w-wk">};</span>
				<br>
				<span class="cl-txt w-wk">}</span>
			</div>
		</div>

		<!-- Interest -->

		<div id="interest" class="section">
			<div class="col30">
				<ul>
					<li>
						<span class="badge" onmouseover="show(0)">#naruto</span>
						<span style="display:none" class="badge"></span>
					</li>
					<li>
						<span class="badge" onmouseover="show(1)">#liverpool</span>
						<span class="badge" onmouseover="show(1)">#steven_gerrard</span>
					</li>
					<li>
						<span class="badge" onmouseover="show(2)">#dota2</span>
						<span class="badge" onmouseover="show(2)">#earthshaker</span>
					</li>

					<li>
						<span class="badge" onmouseover="show(3)">#dragon_ball</span>
						<span class="badge" onmouseover="show(3)">#songohan</span>
					</li>
				</ul>
			</div>
		</div>

		<!-- Project -->

		<div id="projects" class="section">
			<div>

				<!-- namespace Projects { -->
				<p>
					<span class="cl-key w-wk">namespace</span>
					<span class="cl-cls">Projects</span>
					<br>
					<span class="cl-txt w-wk">{</span>
				</p>

				<span class="cl-cmt tab1">
						<span>// For more projects, visit my</span>
				<a href="https://github.com/iamstevendao"><span class="lk-cmt">Github</span></a><span>, or <a href="https://iamstevendao.github.io/blog/projects/"><span class="lk-cmt">blog</span></a>
				</span>
				</span>

				<!-- projects content -->
				<p ng-repeat="project in projects" ng-show='project.place !=="School"'>
					<span class="cl-key w-wk tab1">class</span>
					<a ng-href="{{project.link}}">
							<span class="lk-cls cl-cls project-name">{{project.name}}</span>
						</a>
					<span class="cl-txt w-wk">:</span>
					<span class="cl-cls w-wk">{{project.place}}Project</span>
					<span class="cl-txt w-wk">{</span>
					<br>
					<span class="cl-cls tab2 w-wk">Skills</span>
					<span class="cl-txt w-wk">skills[] = {</span>
					<span ng-repeat="skill in project.skills">
						<span class="cl-var">{{skill}}</span><span ng-if="!$last" class="cl-txt w-wk">,</span>
					</span>
					<span class="cl-txt w-wk">};</span>
					<br>
					<span class="cl-cmt" ng-repeat="desc in project.description">
							<span class="tab2 w-wk">//</span>
					<span>{{desc}}</span>
					<br>
					</span>
					<span class="cl-txt tab1 w-wk">}</span>
				</p>

				<!-- SchoolProjects -->

				<p>
					<span class="cl-key w-wk tab1">class</span>
					<span class="cl-cls">SchoolProjects</span>
					<span class="cl-txt w-wk">{</span>
					<br>
					<span class="w-wk">
					<span class="cl-cls tab2">List</span
					><span class="cl-txt">&lt;</span
					><span class="cl-cls">Project</span
					><span class="cl-txt">&gt;</span>
					<span class="cl-txt">projects =</span>
					<span class="cl-key">new</span>
					<span class="cl-cls">List</span
					><span class="cl-txt">&lt;</span
					><span class="cl-cls">Project</span
					><span class="cl-txt">&gt;</span
					><span class="cl-txt">();</span>
					</span>

					<!-- School project content -->
					<p class="projectx" ng-repeat="project in projects" ng-show='project.place =="School"'>
						<span class="cl-var tab2 w-wk">projects</span><span class="cl-txt w-wk">.</span><span class="cl-fn w-wk">Add</span
						><span class="cl-txt w-wk">(</span
						><span class="cl-key w-wk">new</span>
						<span class="cl-cls w-wk">Project</span><span class="cl-txt w-wk">(</span>
						<span class="cl-str">
						<span class="w-wk">"</span><a ng-href="{{project.link}}"><span class="lk-str project-name">{{project.name}}</span><span class="w-wk">"</span><span class="cl-txt w-wk">,</span></a>
						</span>
						<span ng-repeat='skill in project.skills'>
								<span class="cl-var">{{skill}}</span><span ng-if='!$last' class="cl-txt w-wk">,</span>
						</span>
						<span class="cl-txt w-wk">));</span>
						<br>
						<span class="cl-cmt" ng-repeat="desc in project.description">
								<span class="tab2 w-wk">//</span>
						<span>{{desc}}</span>
						<br>
						</span>
					</p>

					<span class="cl-txt tab1 w-wk">}</span>
					<br>
					<span class="cl-txt w-wk">}</span>
			</div>
		</div>

		<!-- Credits -->

		<div id="credit" class="section">
			<div>
				<span class="cl-cmt">//credits</span>
				<br>
				<span class="cl-key w-wk">public void</span>
				<span class="cl-fn w-wk">Get</span
				><span class="cl-fn">Credits</span
				><span class="cl-txt w-wk">() {</span>
				<br>
				<span class="cl-key w-wk tab1">string</span>
				<span class="cl-txt">author
					<span class="w-wk">=</span>
				</span>
				<span class="cl-str"><span class="w-wk">"</span>Steven Dao<span class="w-wk">"</span></span><span class="cl-txt w-wk">;</span>
				<br>
				<span class="cl-key w-wk tab1">var</span>
				<span class="cl-txt">credits
					<span class="w-wk">=</span>
				</span>
				<a href="https://github.com/iamstevendao/portfolio/blob/master/README.md">
					<span class="cl-var lk-var">README.md</span><span class="cl-txt w-wk">;</span>
				</a>
				<br>
				<span class="cl-key w-wk tab1">var</span>
				<span class="cl-txt">sourceCode
					<span class="w-wk">=</span>
				</span>
				<a href="https://github.com/iamstevendao/portfolio"><span class="cl-var lk-var">iamstevendao/portfolio</span><span
				  class="cl-txt w-wk">;</span></a>

				<br>
				<span class="cl-txt w-wk">}</span>
			</div>
		</div>

		<div class="footer">
			<span class="anim-typewriter">&copy; Steven Dao 2017</span>
		</div>
	</div>
</body>

</html>